* {
  margin: 0;
  padding: 0;
}

h1 {
  width: 100%;
  text-align: center;
}

.calc-main {
  display: flex;
  width: 355px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: monospace;
  border: 1px solid rgb(75, 73, 73);
  border-radius: 5px;
  padding: 25px;
  margin: 0px auto;
  background-color: rgb(42, 42, 204);
  box-shadow:  5px 5px 10px -2px rgb(160, 160, 210) inset, 
              5px 5px 10px -2px rgb(128, 125, 125),
              -5px -5px 10px -2px rgb(12, 12, 42) inset;
}

.calc-display {
  background-color: lightgray;
  width: 100%;
  height: 65px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#displayMain {
  font-size: 3em;
}

#displayOperation {
  font-size: 1em;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calc-button {
  font-family: inherit;
  border-radius: 5px;
  width: 75px;
  padding: 10px 0px;
  margin: 5px 0px;
  font-size: 16pt;
  font-weight: bold;
  box-shadow: 2px 2px 1px -1px black;
}

.digit-button {
  background-color: white;
  color: blue;
}

.calc-button:active {
  padding: 12px 3px 8px 7px;
  box-shadow: -2px -2px 1px -1px black;
}

.operation-button {
  background-color: rgb(207, 17, 17);
  color: whitesmoke;
}

/* .utility-button {
  background-color: rgb(207, 17, 17);
  color: whitesmoke;
} */

/* button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
} */

#model {
  width: 100%;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px 5px;
  text-align: right;
}
